.newsletter {
  display: flex;
  flex-direction: column;
  grid-area: newsletter;
  justify-content: space-around;
  margin-top: 2rem;

  @include media("sm") {
    flex-direction: row;
    margin-top: 10rem;
  }

  @include media("md") {
    margin-top: 3rem;
  }

  > .content {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    width: calc(100% - 14rem);

    @include media("sm") {
      margin: 0 3rem 0 0;
      width: 40%;
    }

    > .subtitle {
      text-transform: uppercase;
    }
  }

  > .form-newsletter {
    width: 100%;

    @include media("sm") {
      width: 60%;
    }

    > fieldset {
      display: flex;
      flex-direction: column;

      > .input {
        margin-bottom: 1rem;
      }

      > .action {
        width: 100%;
      }
    }
  }
}
